# Pandas Basics

In [3]:
import pandas as pd

In [14]:
X = pd.read_csv('quakes.csv')
X.head(10)

   id    lat    long  depth  mag  stations
0   1 -20.42  181.62    562  4.8        41
1   2 -20.62  181.03    650  4.2        15
2   3 -26.00  184.10     42  5.4        43
3   4 -17.97  181.66    626  4.1        19
4   5 -20.42  181.96    649  4.0        11
5   6 -19.68  184.31    195  4.0        12
6   7 -11.70  166.10     82  4.8        43
7   8 -28.11  181.93    194  4.4        15
8   9 -28.74  181.74    211  4.7        35
9  10 -17.47  179.59    622  4.3        19

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
id          1000 non-null int64
lat         1000 non-null float64
long        1000 non-null float64
depth       1000 non-null int64
mag         1000 non-null float64
stations    1000 non-null int64
dtypes: float64(3), int64(3)
memory usage: 47.0 KB